.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-bg {
    animation: marquee 15s linear infinite;
}

.marquee-text {
    display: inline-block;
    padding-right: 100%; /* Ensure the text moves completely from right to left */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}